.main-container{
  margin-top: 200px;
  width: 1500px;
  height: auto;
  padding-top: 150px;
}

.space{
  padding: 100px;
  margin-bottom: 30px;
}

iframe{
  display: inline;
  position: relative;
}



