<div class="main-container">
  <h2>WEATHER TRENDS</h2>
  <div class="box">
    <iframe src="http://34.69.173.148:3000/d-solo/NfMU9Dhnz/dashboard_01?orgId=1&from=1638769586377&to=1638770200073&panelId=8" width="450" height="200" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class="box">
    <iframe src="http://34.69.173.148:3000/d-solo/NfMU9Dhnz/dashboard_01?orgId=1&from=1638769586377&to=1638770200073&panelId=2" width="450" height="200" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class="box">
    <iframe src="http://34.69.173.148:3000/d-solo/NfMU9Dhnz/dashboard_01?orgId=1&from=1638769586377&to=1638770200073&panelId=4" width="450" height="200" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class="box">
    <iframe src="http://34.69.173.148:3000/d-solo/NfMU9Dhnz/dashboard_01?orgId=1&from=1638769586377&to=1638770200073&panelId=6" width="450" height="200" frameborder="0" scrolling="no"></iframe>
  </div>
</div>


