<div class="main-container">
  <h2>WEATHER TRENDS</h2>
  <iframe src="http://35.238.68.2:3000/d-solo/umrb5ohnz/dashboard1?orgId=1&panelId=4" width="550" height="300" frameborder="0"></iframe>&nbsp; &nbsp; &nbsp;
  <iframe src="http://35.238.68.2:3000/d-solo/umrb5ohnz/dashboard1?orgId=1&panelId=2" width="550" height="300" frameborder="0"></iframe>
  <iframe src="http://35.238.68.2:3000/d-solo/umrb5ohnz/dashboard1?orgId=1&from=1638990286076&to=1638990300322&panelId=3" width="550" height="300" frameborder="0"></iframe>&nbsp; &nbsp; &nbsp;
  <iframe src="http://35.238.68.2:3000/d-solo/umrb5ohnz/dashboard1?orgId=1&theme=dark&panelId=5" width="550" height="300" frameborder="0"></iframe>
</div>


