<div class="main-container">
  <h1 class="heading">{{ todayStr }}</h1>
  <div class="button-container">
    <button type="button" class="btn btn-light" (click)="getResponse()">Get updates</button>
  </div>
  <nav>
    <a routerLink="/weather-trends" routerLinkActive="active">View Trends</a>
  </nav>
  <router-outlet></router-outlet>
  <div class="clock">
    <div class="min"></div>
    <div class="hour"></div>
  </div>
</div>
<div class="overlap-container"></div>

<ul class="card-container">
  <li>
    <div class="separation-card">
      <h6>Temperature</h6>
      <div class="img-style">
        <img src="assets/images/thermometer.png"/>
        <h5>{{ jsonData.temperature }}</h5>
      </div>
    </div>
  </li>

  <li>
    <div class="separation-card">
      <h6>Humidity</h6>
      <div class="img-style">
        <img src="assets/images/humidity.png"/>
        <h5>{{ jsonData.humidity }}</h5>
      </div>
    </div>
  </li>

  <li>
    <div class="separation-card">
      <h6>Pressure</h6>
      <div class="img-style">
        <img src="assets/images/pressure-gauge.png"/>
        <h5>{{ jsonData.pressure }}</h5>
      </div>
    </div>
  </li>

  <li>
    <div class="separation-card">
      <h6>Brightness</h6>
      <div class="img-style">
        <img src="assets/images/brightness.png"/>
        <br/>
        <h5>{{ jsonData.brightness }}</h5>
      </div>
    </div>
  </li>
</ul>
